/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout Básico */
body {
  background-color: #d9d9ccc2;
  color: #000000;
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
}

header {
  text-align: left;
  padding: 20px;
  background-color: #701829;
  color: #000000;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

/* Receitas em Destaque */
.receitas-destaque h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.destaque-container {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  width: 220px;
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.card p {
  color: #666;
  font-size: 0.9rem;
}

/* Outras Receitas */
.outras-receitas h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 40px;
  margin-bottom: 10px;
}

.card-horizontal {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.card-horizontal img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 15px;
}

.card-horizontal h3 {
  font-size: 1rem;
  color: #333;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  font-size: 0.9rem;
}
